<!DOCTYPE html>
<html>
<head>
  <title>Apptastic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<div class="container">
  <div class="span12">
    <ul>
    <%= link_to "About",about_path %> |
    <%= link_to "Home", home_path %> | 
    <%= link_to "Voting Booth", root_path %>
    </ul>
  <hr/>
  <body>
    <% flash.each do |name, msg| %>
      <div> <%= msg %></div>
  </div>
  <% end %>
  
    <div class="span8">
      <div class="well">
        <%= yield %>
      </div>
      </div>
    </div>
</div>

</body>
</html>
